mixin work(classname="",href="/", src="https://blind.com/wp-content/uploads/cache/2016/06/Xbox_EDM_Console_001/491271275.jpg",type="类型",title="标题")
  .pic(class=`${classname}`)
    a(href=`${href}` style=`background-image:url(${src})`)
      .title <span>#{type}</span><br>#{title}
      

.menus
  ul
    li.active All
    li Brand
    li UX
    li Producet
.collection
  +work("brand","work/work-fosun.html","","品牌","复兴")
  +work("brand","work/work-yaspace.html","/assets/img/work/yaspace-cover.jpg","品牌","丫空间")
  +work("producet","work/work-changer.html","/assets/img/work/changer-cover.png","产品","Angle充电器")
