mixin work(classname="",href="/", src="https://blind.com/wp-content/uploads/cache/2016/06/Xbox_EDM_Console_001/491271275.jpg",type="类型",title="标题")
  .pic(class=`${classname}`)
    a(href=`${href}` data-src=`${src}` class="pics" )
      .title <span>#{type}</span><br>#{title}
    
.menus
  ul
    li.active All
    li Brand
    li UX
    li Product
.collection
  +work("UX lazyIn","work/work-ux.html","/assets/img/work/ux/iPad-Pro_cover.jpg","交互","火车票UX")
  +work("Brand lazyIn","work/work-fosun.html","/assets/img/work/fosun-mockup.png","品牌","复兴集团")
  +work("UX lazyIn","work/work-efund.html","/assets/img/work/efund-cover0.jpg","交互","易方达首页")
  +work("UX","work/work-zjt.html","/assets/img/work/zjt-cover1.jpg","交互","中建投标品")
  
  +work("UX ","work/work-haitong.html","/assets/img/work/haitong-cover.jpg","交互","海通资管")
  +work("Brand","work/work-daowei.html","/assets/img/work/atunit-cover.jpeg","品牌","道位showcase")
  +work("UX","work/work-Tianfu.html","/assets/img/work/Tianfu-cover.png","交互","天府集团")
  +work("Brand","work/work-yaspace.html","/assets/img/work/yaspace-DM4.jpg","品牌","丫空间")
  +work("Product","work/work-changer.html","/assets/img/work/changer-cover1.jpg","产品","Angle充电器")
  +work("Product","work/work-led.html","/assets/img/work/led-cover.png","产品","LED仿古灯具")
  +work("Product","work/work-yzsg.html","/assets/img/work/yzsg-cover.jpeg","视觉传达","作业DM")
